<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Booking</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">BookMe Ticket Booking</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/booking">Book Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pastbooking">Past Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
            <span class="navbar-text">
              Airline Ticket Booking Application
            </span>
          </div>
        </div>
      </nav>
  
  <!-- Search Area -->
  <div class="container mt-4 py-3 pb-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <!-- Search Form -->
        <form action="#" th:action="@{/search}" method="get">
          <div class="input-group row align-items-center mb-3">
            <div class="col mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate" name="startDate" >
            </div>
            <div class="col mb-3">
              <label for="returnDate" class="form-label">Return Date</label>
              <input type="date" class="form-control" id="returnDate" name="returnDate" >
            </div>
            <div class ="row mx-auto md-6">
              <input type="text" class="form-control mb-3" placeholder="Input Airport Code ex. LAX" name="searchInput">
              <button class="btn btn-primary w-50 mx-auto " type="submit">Search</button>
            </div>
          </div>
        </form>

        <div th:if = "${invalidDateRange}">
          <div class="alert alert-danger" role="alert">
            The Start Date Cannot be Later than the Return Date! Please Try Again!
          </div>
        </div>
          <!-- OUtboundFlight Listings -->
          <div id="departflightListings">
            <h4> Departing Flights</h4>
            <div th:if="${not #lists.isEmpty(departingFlights)}">
              <div th:each="flight : ${departingFlights}">
                <div class="card mb-3">
                  <form action="#" th:action="@{/createbooking}" method="get">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${flight.getOrigin()} + ' to ' + ${flight.getDestination()}"></h5>
                    <p class="card-text" th:text="'Departure Date: ' + ${flight.getDepartureDate()}"></p>
                    <p class="card-text" th:text="'Departure Time: ' + ${flight.getDepartureTime()}"></p>
                    <p class="card-text" th:text="'Total Duration: ' + ${flight.getTotalDuration()}"></p>
                    <p class="card-text" th:text="'Price: $' + ${flight.getPrice()}"></p>

                    <input type="hidden" name="origin" th:value="${flight.getOrigin()}" />
                    <input type="hidden" name="destination" th:value="${flight.getDestination()}" />
                    <input type="hidden" name="departureDate" th:value="${flight.getDepartureDate()}" />
                    <input type="hidden" name="departureTime" th:value="${flight.getDepartureTime()}" />
                    <input type="hidden" name="totalDuration" th:value="${flight.getTotalDuration()}" />
                    <input type="hidden" name="price" th:value="${flight.getPrice()}" />

                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="returnFlightCheckbox">
                        <label class="form-check-label" for="returnFlightCheckbox">
                            Require Return Flight
                        </label>
                    </div>
                    
                    <button type = "submit" class="btn btn-primary">Book Now</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <div th:if="${#lists.isEmpty(departingFlights)}">
              <p>No Departing flights found.</p>
            </div>
            
          </div>

          <!-- INbound Flight Listings -->
          <div id="returnflightListings">
            <h4> Return Flights</h4>
            <div th:if="${not #lists.isEmpty(returningFlights)}">
              <div th:each="flight : ${returningFlights}">
                <div class="card mb-3">
                  <form action="#" th:action="@{/createbooking}" method="get">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${flight.getOrigin()} + ' to ' + ${flight.getDestination()}"></h5>
                    <p class="card-text" th:text="'Departure Date: ' + ${flight.getDepartureDate()}"></p>
                    <p class="card-text" th:text="'Departure Time: ' + ${flight.getDepartureTime()}"></p>
                    <p class="card-text" th:text="'Total Duration: ' + ${flight.getTotalDuration()}"></p>
                    <p class="card-text" th:text="'Price: $' + ${flight.getPrice()}"></p>

                    <input type="hidden" name="origin" th:value="${flight.getOrigin()}" />
                    <input type="hidden" name="destination" th:value="${flight.getDestination()}" />
                    <input type="hidden" name="departureDate" th:value="${flight.getDepartureDate()}" />
                    <input type="hidden" name="departureTime" th:value="${flight.getDepartureTime()}" />
                    <input type="hidden" name="totalDuration" th:value="${flight.getTotalDuration()}" />
                    <input type="hidden" name="price" th:value="${flight.getPrice()}" />

                    <!-- Add booking button -->
                    <button type = "submit" class="btn btn-primary">Book Now</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <div th:if="${#lists.isEmpty(returningFlights)}">
              <p>No Return flights found.</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

    <footer
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
          Copyright © 2024. All rights reserved.
      </div>
      <!-- Copyright -->

    </footer>
</body>
</html>